#form h2{
    padding: 2% 0 2% 0;
    margin: 13% 0 0 0;
    text-align: center;
    background-color: #56a056d6;
    color: white;
    font-size: 22px;
}

#form #f{
    padding: 8% 0px 0px 0px;
    color: rgb(0 0 0);
    font-weight: 500;
}

#form p{
    margin: 6px 0;
    color: black;
}

#form span{
    margin: 0 5%;
    color: rgb(125, 125, 125);
}